html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
  
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

h1{
    margin-left: 700px;
    display: flex;
    align-items: center;
    color: #729399;
}